:root {
    /*set css variable(s)*/
/* Colors */
    --mainColor:black;
    --primaryColor: blue;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;

/* Text Colors */
    --mainText:whitesmoke;
    --primaryText: white;
    --secondaryText:#4b5156;

/*     */
    --buttonColor:black;
}

*/*,
*::before,
*::after*/
{
    background-color: var(--mainColor);
    color: var(--mainText);
    /*box-sizing: border-box;*/

}

html 
{
   padding: 0;
   margin: 0;
   color: var(--mainText);
   scroll-behavior: smooth;

}

body 
{
    padding: 0;
    margin: 0;
    color: var(--mainText);

}