:root 
{
    /*set css variable(s)*/
    --mainColor:black;
    --primaryColor: blue;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;

    --mainText:rgb(255, 0, 0);
    --primaryText: white;
    --secondaryText: blue;

    --btnColor:#fbff00;
    --btnText: white;

}

*/*,
*::before,
*::after*/
{
    background-color: var(--mainColor);
    /*color: var(--mainText);*/
    /*box-sizing: border-box;*/
    
}



html 
{
   padding: 0;
   margin: 0;
   /*color: var(--mainText);*/
   scroll-behavior: smooth;

}

body 
{
    /*padding: 0;
    margin: 0;*/
    color: var(--mainText);

}

.title {
    font-size: 6rem;

}

.subtitle {
    font-size: 4rem;

}

/* CSS Media Query */
@media (max-width: 500px) {
    body {
        color: var(--secondaryText);

    }    
}