:root {
    /* LIGHT BLUE - 091121 DS */    
    --color1: #D4E4F7;
    /* DARK BLUE */
    --color2: #236AB9;
    /* ORANGE */
    --color3: #FC7307;
    /* BURNT ORANGE */
    --color4: #B85B14;
    /* BROWN */
    --color5: #341C09;
}

body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: sans-serif;

}

h1 {
    color: var(--color5);
    font-style: italic;
    
}

#skillsList {
    columns: 3;

}

.sectionHeader {
    color: var(--color3);
    font-style: italic;
    font-variant: small-caps;

}

table {
    margin: 14px;
    border-collapse: separate;
    border-spacing: 7px;
    padding: 7px;
    width: 98%;

}

caption {
    font-style: italic;
    color: grey;
    letter-spacing: 3px;
    text-decoration: underline;

}