:root {
    /*set css variable(s)*/
    --mainColor:black;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;

    --mainText:whitesmoke;
    --secondaryText:#008cff;

    --themeDotBorder:#24292e;

    --previewBg:rgb(251, 249, 243, 0.8);
    --previewShadow:#f0ead6;

    --buttonColor:black;
}

*/*,
*::before,
*::after*/
{
    background-color: var(--mainColor);
    color: var(--mainText);
    /*box-sizing: border-box;*/

}

html 
{
   padding: 0;
   margin: 0;
   color: var(--mainText);
   scroll-behavior: smooth;

}

body 
{
    padding: 0;
    margin: 0;
    color: var(--mainText);
    
}

h1, h3 {
    color: var(--secondaryText);

}

a:link, a:visited {
    color: var(--secondaryText);
    text-decoration: underline;
    cursor: auto;

}

a:link:active, a:visited:active {
    color: yellowgreen;
    
}

#calcForm {
    background-color: blanchedalmond;
    color: yellowgreen;
}

.calcForm {
    background-color: whitesmoke;
    color: var(--secondaryText);
}

mark {
    background-color: yellowgreen;
    color: black;

}